@import url('https://fonts.googleapis.com/css2?family=Caesar Dressing');
@import url('https://fonts.googleapis.com/css2?family=Jersey 15');
body,
.headings,
.intro,
.subheading,
.wallpaper1,
.wallpaper2,
.info_flexbox {
    border-radius: 20px;
}
body {
    background-color: rgb(16, 24, 40, 0.2);
    border: 2px solid rgb(16, 24, 40);
    margin: 15px;
}
.info_flexbox {
    background-color: rgb(16, 24, 40, 0.4);
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    height: fit-content;
}
.info_sudo {
    flex: 0.2;
}
.photo_flexbox {
    width: fit-content;
}
.photo {
    height: auto;
    width: 144px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 300px;
    border: 2px solid rgb(16, 24, 40);
}
.resume_flexbox {
    flex: 2;
    color: rgb(16, 24, 40);
    font-size: 22px;
    font-family: "Jersey 15", monospace;
}
.highlight {
    background-color: yellow;
}
.headings {
    color: rgb(169, 121, 43);
    background-color: rgb(16, 24, 40);
    font-family: "Caesar Dressing", serif;
    text-align: center;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
}
.intro {
    color: rgb(16, 24, 40);
    background-color: rgba(16, 24, 40, 0.4);
    font-family: "Jersey 15",monospace;
    font-size: 22px;
    text-align: left;
    outline: 2px solid rgb(16, 24, 40);
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px;
}
.subheading_flexbox {
    display: flex;
}
.subheading_sudo {
    flex: 1;
}
.subheading {
    flex: 2;
    width: fit-content;
    text-align: center;
    font-family: "Jersey 15", monospace;
    font-size: 20px;
    padding: 5px;
    font-weight: 1000;
    background-color: red;
    color: white;
}
.project_flexbox {
    display: flex;
    height: fit-content;
    margin-top: 50px;
}
.project_sudo {
    flex: 1;
}
.project1,
.project2 {
    flex: 3;
    max-width: fit-content;
    height: fit-content;
    border-radius: 10px;
}
.project_img_1,
.project_img_2 {
    height: 25vw;
    width: 30vw;
    outline: 2px solid rgb(16, 24, 40);
    border-radius: 10px;
}
.bmc_flexbox {
    display: flex;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;
}
.bmc_sudo {
    flex: 1;
}
.bmc_img {
    border: 2px solid rgb(16, 24, 40);
    background-color: rgb(16, 24, 40, 0.4);
    padding: 10px;
    border-radius: 30px;
}
